@import "../vars";

.header {
  width: 100%;
  position: absolute;
  padding-top: 30px;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-btn {
    padding: 10px 14px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-arrow {
      margin-right: 2px;
    }
  }
}
