@import "../vars";

.header {
  min-height: 650px;
  background: url(../../images/top-screen-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 30px;

  &-wrapper {
    padding: 0 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-btn {
    padding: 10px 14px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-arrow {
      margin-right: 2px;
    }
  }
}
