@import "../vars";

.info {
  padding-bottom: 250px;
  &-inner {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 386px;
    padding: 41px;
  }

  &-icon {
    margin-bottom: 64px;
  }

  &-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $dark;
  }

  &-txt {
    font-family: $accent-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $dark;
    opacity: 0.5;
  }

  &-link {
    font-family: $accent-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $accent-color;
  }
}
