@import "../vars";

.promo {
  max-width: 741px;
  padding: 96px 156px 75px 64px;
  margin-left: -38px;
  transform: translateY(-50%);
  margin-bottom: -10%;
  background-color: $light;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);

  &-title {
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    color: $dark;

    span {
      color: $accent-color;
    }
  }

  &-txt {
    font-family: $accent-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $dark;
    opacity: 0.6;
  }

  &-link {
    display: inline-block;
    padding: 21px 77px;
    background-color: $accent-color;
    font-family: $accent-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: $light;
    cursor: pointer;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-icon {
      margin-right: 8px;
    }
  }
}

@media (max-width: 1450px) {
  .promo {
    margin: 0 auto;
    transform: translateY(-30%);
  }
}

@media (max-width: 940px) {
  .promo {
    margin: 0 auto;
    transform: translateY(-20%);
  }
}

@media (max-width: 780px) {
  .promo {
    max-width: 500px;
    padding: 20px 40px;
    margin: 0 auto;
    transform: translateY(-25%);

    &-title {
      font-size: 29px;
      line-height: 39px;
    }

    &-txt {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media (max-width: 540px) {
  .promo {
    margin: 0 20px;
    transform: translateY(-20%);
  }
}

@media (max-width: 460px) {
  .promo {
    margin: 0;
    transform: translateY(0);
    border-color: transparent;
    box-shadow: none;

    &-link {
      padding: 21px 55px;
    }
  }
}
